[
    {ag_base, [{include_path, ["ag_idcreator"]}]},
    {ag_idcreator, [
        {id_randchar, [{gameid, 1001}, {bucket, 1}]},
        %% 自增id生成器参数
        {id_accumulator, [
            {pools, id_accumulator_redis_pool},
            {driver, redis},
            {option,
                {
                    [{size, 20}, {max_overflow, 0}],
                    [{host, "10.0.205.189"}, {port, 6010}, {database, 7}, {password, ""}, {reconnect_sleep, 100}]
                }
            },
%%          redis 集群模式配置
%%            {driver, redis_cluster},
%%            {option,
%%                {
%%                    [{size, 50}, {max_overflow, 0}, {overflow_ttl, 60}],
%%                    [
%%                        {cluster_name, ag_idcreator},
%%                        {nodes, [
%%                            [{host, "10.0.205.189"}, {port, 6010}]
%%                        ]},
%%                        {password, ""},
%%                        {reconnect_sleep, 100}
%%                    ]
%%                }
%%            },
            {biz, [{default, 3000}, {intacc1, 1000}, {intacc2, 2000}]}
        ]},
        %% snowflake id生成器参数
        {id_snowflake, [{dc_id, random}, {worker_id, random}]},
        {id_ets, [{incr, 1}, {threshold, 99999}, {setvalue, 1}]}
    ]},
    {ag_debuglogger, [
        {console, #{open => true, level => debug}},
        {file, #{
            open => true,
            level => debug,
            log_folder => "logs/",
            max_no_files => 10,
            max_no_bytes => 20485760
        }},
        {logger_config, #{
            sync_mode_qlen => 50,
            drop_mode_qlen => 500,
            flush_qlen => 2000
        }},
        {formatter, {ag_logger_flatlog_format, #{map_depth => 3, term_depth => 50}}}
    ]}
].
