[
    {ag_bizlogger, [
%%        {param, #{hostname => <<"wordcrush">>, appid => <<"10002">>, dateformat => "DD/Mon/YYYY:hh:mm:ss +0000"}},
        {biz_list,
            [
                %%操作log
                #{
                    biz => op,
                    process_num => 1,
                    handle => test_process_handle,
                    handle_config => #{}
                }
            ]
        }
    ]}
].