[
    {ag_config, [
        {ag_config_adapter_localfile, #{path=>"game_server.config"}},
        {ag_config_adapter_network, #{url=>"http://192.168.1.52:8080/", appid=>"engineframeworkconfig", cluster=>"default"}},
        {ag_config_adapter_network1, #{url=>"http://192.168.1.53:8080/", appid=>"engineframeworkconfig", cluster=>"default"}},
        {ag_config_adapter_network2, #{url=>"http://192.168.1.52:8080/", appid=>"engineframeworkconfig1", cluster=>"default"}},
        {ag_config_adapter_network3, #{url=>"http://192.168.1.52:8080/", appid=>"engineframeworkconfig", cluster=>"default1"}}
    ]}
].