[
    {ag_node, [
        {master,'gamemaster@127.0.0.1'},
        {cookie,'ag_node_cookie'}
    ]},
    {ag_debuglogger, [
        {logger, [
            {console, #{open => true, level => debug}},
            {file, #{
                open => true,
                level => debug,
                log_folder => "logs/",
                max_no_files => 10,
                max_no_bytes => 20485760
            }},
            {logger_config, #{
                sync_mode_qlen => 50,
                drop_mode_qlen => 500,
                flush_qlen => 2000
            }},
            {filters, [{ag_logger_filter, {fun ag_logger_filter:dev_log/2, ok}}]},
            {formatter, {ag_logger_flatlog_format, #{map_depth => 3, term_depth => 50}}}
        ]}
    ]}
].