{ag_database, [
    {driver_pools, [
        redis_pool,
        mysql_pool,
        mongodb_pool,
        mysql_redis_pool,
        mongodb_redis_pool
    ]},

    {mysql_pool, {mysql, mysql_option}},

    {mongodb_pool, {mongodb, mongodb_option}},

    {redis_pool, {redis, redis_option}},

    %%db_cached_pool
    {mysql_redis_pool, {mysql_pool, redis_pool}},
    {mongodb_redis_pool, {mongodb_pool, redis_pool}},

    %% driver_option
    {mysql_option,
        {
            [{size, 5}, {max_overflow, 10}],
            [{host, "127.0.0.1"}, {port, 3306}, {database, "test"}, {user, "root"}, {password, "root"}, {keep_alive, true}]
        }
    },

    {mongodb_option,
        {
            %%indexes
            [
                {<<"users">>, [
                    {<<"key">>, {<<"id">>, 1}, <<"name">>, <<"index_id">>, <<"unique">>, true, <<"dropDups">>, true},
                    {<<"key">>, {<<"archive">>, 1}, <<"name">>, <<"index_archive">>}
                ]},
                {<<"archives">>, [
                    {<<"key">>, {<<"id">>, 1}, <<"name">>, <<"index_id">>, <<"unique">>, true, <<"dropDups">>, true}
                ]}

            ],
            [{pool_size, 5}, {max_overflow, 10}],
            [{host, "127.0.0.1"}, {port, 27017}, {database, <<"maze_server1">>}, {login, <<"root">>}, {password, <<"root">>}, {w_mode, safe}, {r_mode, slave_ok}]
        }
    },

    {redis_option,
        {
            [{size, 5}, {max_overflow, 10}],
            [{host, "127.0.0.1"}, {port, 6010}, {database, 2}, {password, ""}, {reconnect_sleep, 100}]
        }
    }

]}.