[
    {ag_playeragent, [
        {dirty_write_interval, 300000}
    ]},
    {ag_idcreator, [
        {id_randchar, [{gameid, 1001}, {bucket, 1}]}
    ]},
    {ag_autogc,[
            %定时gc的时间间隔，必定触发,单位秒
            {strictly_gc_interval, 1440},
            %定时检测内存大小，超过检测值gc内存，单位秒
            {check_gc_interval, 600},
            %超过多少内存进行gc操作，单位M
            {check_gc_memory_size, 20480}
    ]},
    {ag_debuglogger, [        
        {console, #{open => true, level => debug}},
        {file, #{
            open => true,
            level => debug,
            log_folder => "logs/",
            max_no_files => 10,
            max_no_bytes => 20485760
        }},
        {logger_config, #{
            sync_mode_qlen => 50,
            drop_mode_qlen => 500,
            flush_qlen => 2000
        }},
        {filters, [{tsl_filter, {fun tsl_filter:dev_log/2, ok}}]},
        {formatter, {tsl_flatlog_format, #{map_depth => 3, term_depth => 50}}}    
    ]},
    {ag_cluster, [
        {adapter, tscl_redis_adapter},
        {tscl_redis_adapter, [
            {pools, cluster_redis_pool},       
            {driver, redis},     
            {option,
                {
                    [{size, 5}, {max_overflow, 0}],
                    [{host, "10.0.115.216"}, {port, 6379}, {database, 15}, {password, ""}, {reconnect_sleep, 100}]
                }
            }
        ]}
    ]},
    {ag_gateway, [
        {reply_http_header, #{<<"Access-Control-Allow-Origin">> => <<"*">>}},

        {handles, [
            [{clear_ports, [10101]}, {max_connections, infinity}, {num_acceptors, 16}]
        ]}
    ]},

    {ag_engine, [
        {app_id, <<"ag_game">>},
        {app_client_key, <<"abcdefa">>},
        {app_client_version, <<"1.0.0">>},
        {msg_validate_second, 60},
        {auth_driver, test_authenticate},
        {gpb_msg_name_type, string},
        {is_use_roleworker, true},
        {session_timeout, 900000000},
        {msg_executer, #{
            msg_executer_middleware => [ag_engine_msg_metrics_executer],
            msg_metrics_callback => {test_gamebase_SUITE, metrics_exec_call_back}
        }}
    ]},
    {ag_base, [{include_path, ["ag_engine"]}]},
    {ag_database, [
        {driver_pools, []}
    ]},
    {ag_node, [
        {master, 'gamemaster@127.0.0.1'},
        {cookie, 'agnodetest'}
    ]},
    {ag_monitor,
        [
            {monitorlist, []}
        ]
    }
].
