[
    {ag_cluster, [
        {adapter,ag_cluster_redis_adapter},
        %% 使用memdb模式需要制定master节点，ag_node重构后不支持此配置方法了
        {master, 'ag_cluster@127.0.0.1'},
        {ag_cluster_redis_adapter, [
            {pools, cluster_redis_pool},
            {option,
                {
                    [{size, 5}, {max_overflow, 10}],
                    [{host, "10.0.205.189"}, {port, 6010}, {database, 15}, {password, ""}, {reconnect_sleep, 100}]
                }
            }]
        },
        {ag_cluster_mongodb_adapter,[
            {pools,cluster_mongodb_pool},
            {option,
                {
                    %%indexes
                    [],
                    {unknown ,["10.0.205.189:27017"]},
                    [{pool_size, 1}, {max_overflow, 10}],
                    [{database, <<"cluster_test">>},  {w_mode, safe}, {r_mode, slave_ok}]
                }
            }
        ]}
    ]},
    {ag_base, [{include_path, ["ag_cluster"]}]}
].
