{ag_engine, [
    {app_id, <<"Jumpit">>},
    {app_client_key, <<"abcdefa">>},
    {app_client_version, <<"1.0.0">>},
    {'msg_validate_second', 60},
    {auth_driver, gen_base_auth},
    {gpb_msg_name_type, string},
    % 内部错误的name值
    {inerror_name_key, 999999},
    {login_new_session, true},
    % 是否使用roleworker，如果是无状态服务器，不使用roleworker
    {is_use_roleworker, false},
    {session_timeout, 900000000},
    % ackernumber检测配置，如果不配置则不开启
    {check_packagenumber,
            #{
                database =>     %% 保存包号的db，现只支持redis
                [
                    {pools, packagenumber_redis_pool},
                    {option,
                        {
                            [{size, 5}, {max_overflow, 10}],
                            [{host, "127.0.0.1"}, {port, 6379}, {database, 3}, {password, ""}, {reconnect_sleep, 100}]
                        }
                    }
                ],
                maxdiff => 10   %% 比较包号时最大的间隔,默认为1
            }
        },
    },
    {msg_executer, #{
        msg_executer_middleware => [ag_engine_msg_metrics_executer],
        msg_metrics_callback => {tssm_message_api, observe}
    }}

]}.
