{ag_config, [
    {ag_config_adapter_localfile, #{path=>"config/game_server.config"}}
]}.

{ag_initiator,[
    {reloader_mode,all} %% all |reloader |autoreloader | undefined 
]}.
{ag_engine,         [{config,"config/engine.config"}]}.
{ag_database,       [{config,"config/db.config"}]}.
{eredis_cluster,    [{config,"config/redis.config"}]}.
{ag_idcreator,      [{config,"config/idcreator.config"}]}.
{ag_monitor,        [{config,"config/monitor.config"}]}.
{ag_gateway,        [{config,"config/gateway.config"}]}.

{ag_cluster, [
    %配置模块名支持 ag_cluster_redis_adapter 或 ag_cluster_memdb_adapter
    {adapter,ag_cluster_redis_adapter},
    %服务器启动是否清除过期数据
    {startcleandata,true},
    {ag_cluster_redis_adapter,[
        {driver,redis},
        {pools,cluster_redis_pool},
        {option,
            {
                [{size, 5}, {max_overflow, 10}],
                [{host, "10.0.205.189"}, {port, 6010}, {reconnect_sleep, 100}, {database, 4}, {password, ""}]
            }
        }
    ] },
    {ag_cluster_mongodb_adapter,[
        {driver,mongodb},
        {pools,cluster_mongodb_pool},
        {option,
            {
                %%indexes
                [],
                [{size, 50}, {max_overflow, 10}],
                [{host, "10.0.205.189"}, {port, 27017}, {database, <<"cluster">>}, {login, <<"root">>}, {password, <<"">>}, {w_mode, safe}, {r_mode, slave_ok}]
            }
        }
    ]
    }
]}.


{ag_debuglogger, [
    {console, #{open => true, level => info}},
    {file, #{
        open => true,
        level => info,
        log_folder => "logs/",
        max_no_files => 10,
        max_no_bytes => 20485760
    }},
    {logger_config, #{
        sync_mode_qlen => 50,
        drop_mode_qlen => 500,
        flush_qlen => 2000
    }},
    {formatter, {ag_debuglogger_flatlog_format, #{map_depth => 3, term_depth => 50}}}
]}.

{ag_metable,
    [
        {meta_dir,"./xlsx"},
        {header_define,[
            {name_import,true}, 	%% name_import = true| false , default = true
            {descript_row,1},
            {name_row,2},
            {type_row,3},
            {date_row,4}
        ]},
        {hooks,
            [
                {field_match,[{prefix_unmatch,"c_"}]}
%%        {table_transform,trans_upper},
%%        {table_match,{module(),filter_function}},  %% fun(table())-> boolean().
%%        {field_match,{module(),filter_function}},  %% fun(table(),field)-> boolean().
%%        {data_import,[
%%          {"playerinfo",
%%            [
%%              {"ExtraValue",  {to_value,   "Value","Type" }},         %to_value 操作用于表格转置
%%              {"field3",    {script,  "Layout.",["Layout"]}},
%%              {"field2",    {xlsx_test, convert, ["Layout"] ,["context"]}},
%%              {"field1",    {xlsx_test, convert2}}
%%            ]
%%          },
%%          {"table2",[]}
%%        ]}
            ]
        },
        {sheet_match,		%%  "*" 或者 [{prefix,string()},{suffix,string()},{include,string()},"*"]
            ["*",
                {prefix,"s_"},
%%					{suffix,".server"},
%%					{include,"abc"},
                {equal,"playerinfo"}

            ]},
        {field_match,
            [
                {prefix,"s"},
                {notprefix,"c"}
            ]}
        ,
        {import_hook,[

        ]
        }
    ]
}.

{ag_node, [
    {cluster_name,'mazegame'},
    {node_name_prefix,node},
    {ra_data_dir,"./.node_data_dir"}
]}.

{ag_bizlogger, [
    {biz_list,
        [
            %%操作log
            #{
                biz => op,
                process_num => 1,
                handle => ag_bizlogger_write_process,
                handle_config =>
                #{
                    file_name_format => "out/YYYY-MM-DD/YY-DD-MM hh-mm-ss_~p.txt",
                    split_file_rule => every_5min,
                    out_dir => "./optest/"
                }
            }
        ]
    }
]}.