{ag_gateway,
	[
		{clear_ports,[1080]},
		{tls_ports,[]},
		{max_connections, infinity},
		{reply_http_header,#{<<"Access-Control-Allow-Origin">> => <<"*">>}},
		{tls,
			[
				{cacertfile, "./ssl/cowboy-ca.crt"},
				{certfile, "./ssl/server.crt"},
				{keyfile, "./ssl/server.key"}
			]
		}
		]
}.
