{ag_idcreator, [
    {id_randchar,[{gameid,1001},{bucket,1}]},
    %% 自增id生成器参数
    {id_accumulator,[
        {driver,redis},
        {pools,id_accumulator_redis_pool},
        {option,
            {
                [{size, 3}, {max_overflow, 0}],
                [{host, "10.0.205.189"}, {port, 6010}, {database, 7}, {password, ""}, {reconnect_sleep, 100}]
            }
        },
        {biz,[{default,3000},{intacc1,1000},{intacc2,2000}]}
    ]},
    %% snowflake id生成器参数
    {id_snowflake,[{dc_id,1},{worker_id,1}]}
]}.