{ag_monitor,
    [
        {is_use_prometheus,true},
        {monitorlist, [messagemonitor]},
        {
            messagemonitor,
            [
                {handlelist, [ag_monitor_detailed_write_handle, ag_monitor_warning_write_handle]},
                {ag_monitor_detailed_write_handle,
                    #{
                        isopen=>true,
                        args=>
                        #{
                            bizlogger_bizname=>messagedetailed,
                            unmatchlist=>[],
                            binarymaxbytesize => 2048
                        }
                    }
                },
                {ag_monitor_warning_write_handle,
                    #{
                        isopen=>false,
                        args=>
                        #{
                            bizlogger_bizname=>messagewarning,
                            frequency=>60,
                            threshold=>0
                        }
                    }
                },
                {ag_monitor_prometheus_instrumenter_handle, #{isopen => false, args => #{}}}
            ]
        }
    ]
}.