[
    {ag_base, [
        {session_timeout, 900000000},
        {dirty_write_interval, 300000},
        {include_path, ["ag_database"]}
    ]},
    {ag_database, [
        {driver_pools, [
            mysql_pool,
            redis_pool,
            mongodb_pool,
            mysql_redis_pool,
            mongodb_redis_pool
        ]},

        {mysql_pool, {mysql, mysql_option}},

        {mongodb_pool, {mongodb, mongodb_option}},

        {redis_pool, {redis, redis_option}},

        %%db_cached_pool
        {mysql_redis_pool, {mysql_pool, redis_pool}},
        {mongodb_redis_pool, {mongodb_pool, redis_pool}},

        {mysql_option, {
            [{size, 5}, {max_overflow, 10}],
            [{host, "10.0.205.189"}, {port, 3306}, {database, "test"}, {user, "root"}, {password, "root"}, {keep_alive, true}]
        }},

        {redis_option, {
            [{size, 5}, {max_overflow, 10}],
            [{host, "10.0.205.189"}, {port, 6010}, {database, 10}, {password, ""}, {reconnect_sleep, 100}]
        }},

        {mongodb_option,
            {
                %%indexes
                [
                    {<<"test">>, [
                        {<<"key">>, {<<"name">>, 1}, <<"name">>, <<"_name">>, <<"unique">>, true, <<"dropDups">>, true}
                    ]}
                ],
                {unknown ,["10.0.205.189:27017"]},
                [{pool_size, 50}, {max_overflow, 10}],
                [{database, <<"maze_server1">>}, {w_mode, safe}, {r_mode, slave_ok}]
            }
        }
    ]},
    {eredis_cluster, [
        {init_nodes,[
            {"10.0.205.189",6010}
        ]},
        {pool_size, 5},
        {pool_max_overflow, 0},
        {database, 0},
        {password, ""}
    ]}
].