[
    {
        ag_metable,
        [
            {meta_dir,"./xlsx"},
            {header_define,[
                {name_import,true}, 	%% name_import = true| false , default = true
                {descript_row,1},
                {name_row,2},
                {type_row,3},
                {date_row,4}
            ]},
            {hooks,
                [
                    {field_match,[{prefix_unmatch,"c_"}]}
%%        {table_transform,trans_upper},
%%        {table_match,{module(),filter_function}},  %% fun(table())-> boolean().
%%        {field_match,{module(),filter_function}},  %% fun(table(),field)-> boolean().
%%        {data_import,[
%%          {"playerinfo",
%%            [
%%              {"ExtraValue",  {to_value,   "Value","Type" }},         %to_value 操作用于表格转置
%%              {"field3",    {script,  "Layout.",["Layout"]}},
%%              {"field2",    {xlsx_test, convert, ["Layout"] ,["context"]}},
%%              {"field1",    {xlsx_test, convert2}}
%%            ]
%%          },
%%          {"table2",[]}
%%        ]}
                ]
            },
            {sheet_match,		%%  "*" 或者 [{prefix,string()},{suffix,string()},{include,string()},"*"]
                ["*",
                    {prefix,"s_"},
%%					{suffix,".server"},
%%					{include,"abc"},
                    {equal,"playerinfo"}

                ]},
            {field_match,
                [
                    {prefix,"s"},
                    {notprefix,"c"}
                ]}
            ,
            {import_hook,[

            ]
            }
        ]
    }
].