[
    {ag_cluster, [
        {master, 'ag_cluster@127.0.0.1'},
        {ag_cluster_redis_adapter, [
            {pools, cluster_redis_pool},
            {driver, redis},
            {option,
                {
                    [{size, 5}, {max_overflow, 10}],
                    [{host, "10.0.205.189"}, {port, 6010}, {database, 15}, {password, ""}, {reconnect_sleep, 100}]
                }
            }
%%            redis cluster 配置
%%            {driver, redis_cluster},
%%            {option,
%%                {
%%                    [{size, 50}, {max_overflow, 0}, {overflow_ttl, 60}],
%%                    [
%%                        {cluster_name, ag_cluster},
%%                        {nodes, [
%%                            [{host, "10.0.205.189"}, {port, 6010}]
%%                        ]},
%%                        {password, ""},
%%                        {reconnect_sleep, 100}
%%                    ]
%%                }
%%            }
        ]},
        {ag_cluster_mongodb_adapter, [
            {pools, cluster_mongodb_pool},
            {option,
                {
                    %%indexes
                    [],
                    {unknown, ["10.0.205.189:27017"]},
                    [{pool_size, 1}, {max_overflow, 10}],
                    [{database, <<"cluster_test">>}, {w_mode, safe}, {r_mode, slave_ok}]
                }
            }
        ]}
    ]},
    {ag_cluster, [{include_path, ["ag_cluster"]}]}
].
