[
    {
        ag_monitor,
        [
            {monitorlist, [messagemonitor]},
            {
                messagemonitor,
                [
                    {handlelist, [ag_monitor_detailed_write_handle, ag_monitor_warning_write_handle, ag_monitor_prometheus_instrumenter_handle]},
                    {ag_monitor_detailed_write_handle,
                        #{
                            isopen => true,
                            args =>
                            #{
                                bizlogger_bizname => messagedetailed,
                                unmatchlist => [b],
                                binarymaxbytesize => 1 % 100 MB
                            }
                        }
                    },
                    {ag_monitor_warning_write_handle, #{isopen => true, args => #{bizlogger_bizname => messagemonitor, frequency => 1, threshold => 0}}},
                    {ag_monitor_prometheus_instrumenter_handle, #{isopen => false, args => #{}}}
                ]
            }
        ]
    },
    {ag_bizlogger, [
        {biz_list,
            [
                %%操作log
                #{
                    biz => op,
                    process_num => 1,
                    handle => test_process_handle,
                    handle_config => #{}
                },
                #{
                    biz => bi,
                    process_num => 1,
                    handle => test_process_handle,
                    handle_config => #{}
                }
            ]
        }
    ]}
].